In [1]:
import pandas as pd
import numpy as np

## Question 1

In [2]:
df = pd.read_csv("gene.csv", encoding = "ISO-8859-1")

In [4]:
non_reponse = (df["SALPRS_15"].isnull()).sum()/len(df)
print(non_reponse)

0.27031363967906635

#### On peut trouver la probabilité de réponse dans cette base

In [5]:
prob_reponse = 1 - non_reponse
print(prob_reponse)

0.7296863603209336

In [6]:
df

,IDENT,AGE10,CA0ACATAEU_15,CA0AREGIONF_15,CA0AREG_15,CA1,CA11,CA12,CA20_15,CA23A,...,PCS_15,PHD,PONDEF,POSPRO_15,REGETAB,SALPRS_15,SITDE_15,TAPE,TAPI,ZUS
0,A0038206,24,111,RHÔNE-ALPES,82,NaN,2.0,7.0,2,2,...,387F,16,37.001962,71.0,82.0,5200.000000,1,12.0,12.0,2
1,A0038240,23,111,RHÔNE-ALPES,82,NaN,6.0,6.0,2,2,...,NaN,16,44.583135,NaN,82.0,NaN,2,0.0,0.0,2
2,A0038310,24,111,PAYS DE LA LOIRE,52,NaN,4.0,4.0,2,2,...,384A,16,35.996549,73.0,82.0,1800.000000,1,12.0,12.0,2
3,A0038328,24,111,ÎLE-DE-FRANCE,11,NaN,6.0,6.0,2,2,...,382A,16,34.842526,71.0,82.0,2250.328125,1,0.0,9.0,2
4,A0038333,23,111,PAYS DE LA LOIRE,52,NaN,1.0,4.0,2,2,...,384B,16,34.522090,71.0,82.0,2380.000000,1,5.0,5.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13705,Z0180805,23,111,ÎLE-DE-FRANCE,11,NaN,1.0,4.0,2,2,...,543D,13L,73.092833,NaN,82.0,NaN,1,0.0,NaN,2
13706,Z0181824,20,112,BASSE-NORMANDIE,25,2.0,3.0,3.0,2,2,...,534A,01,71.217700,2.0,53.0,1324.000000,1,0.0,46.0,2
13707,Z0181849,23,111,ÎLE-DE-FRANCE,11,NaN,4.0,2.0,2,2,...,531B,05,55.361748,6.0,53.0,2000.000000,1,0.0,39.0,2
13708,Z0182014,25,111,ÎLE-DE-FRANCE,11,NaN,7.0,7.0,2,2,...,531A,17,42.038775,6.0,23.0,2350.000000,1,0.0,0.0,2
13709,Z0353033,20,111,MIDI-PYRÉNÉES,73,2.0,4.0,3.0,2,2,...,531A,11L,49.163462,91.0,73.0,1565.000000,1,0.0,48.0,2

#### Estimation du salaire net moyen mensuel à la sortie

In [8]:
salaire = (df["SALPRS_15"].sum() * (1/prob_reponse))/(len(df.index)) 
salaire

1783.3158671729038

In [10]:
salaire1 = df["SALPRS_15"].sum() /(df["SALPRS_15"].count())
salaire1

1783.3158671729038

In [11]:
df["SALPRS_15"].mean()

1783.3158671729038

In [14]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
AGE10,13710.0,22.292487,3.711740,13.000000,20.000000,22.00000,24.000000,35.000000
CA1,3893.0,1.939378,0.238666,1.000000,2.000000,2.00000,2.000000,2.000000
CA11,12154.0,3.449811,2.217757,1.000000,1.000000,3.00000,6.000000,7.000000
CA12,13250.0,3.347170,2.077577,1.000000,2.000000,3.00000,5.000000,7.000000
CA20_15,13710.0,1.786433,0.411792,1.000000,2.000000,2.00000,2.000000,3.000000
CA23A,13710.0,1.912181,0.296140,1.000000,2.000000,2.00000,2.000000,3.000000
CA7,2563.0,2.705423,1.029729,1.000000,2.000000,3.00000,3.000000,5.000000
CA8,2358.0,2.692112,0.983201,1.000000,2.000000,3.00000,3.000000,5.000000
CA8B3,1744.0,1.509748,0.500048,1.000000,1.000000,2.00000,2.000000,2.000000
HABDE_15,13710.0,1.896280,0.791878,1.000000,1.000000,2.00000,3.000000,3.000000
OS1,13710.0,1.688621,0.463074,1.000000,1.000000,2.00000,2.000000,2.000000
PER1,13710.0,1.178848,0.383239,1.000000,1.000000,1.00000,1.000000,2.000000
Q1,13710.0,1.476805,0.499480,1.000000,1.000000,1.00000,2.000000,2.000000
Q31,13710.0,1.871918,0.388684,1.000000,2.000000,2.00000,2.000000,3.000000
STRADEF,13698.0,27.884436,16.513476,0.000000,12.000000,29.00000,46.000000,52.000000
LIEUNAIS,13696.0,0.422240,1.745242,0.000000,0.000000,0.00000,0.000000,11.000000
PONDEF,13710.0,51.637199,31.201215,2.074993,33.986642,47.56186,65.857255,403.293335
POSPRO_15,10146.0,58.367435,38.264059,1.000000,5.000000,72.00000,91.000000,93.000000
REGETAB,13689.0,48.636716,30.469656,11.000000,22.000000,42.00000,82.000000,97.000000
SALPRS_15,10004.0,1783.315867,753.790454,150.000000,1365.000000,1594.50000,2102.250000,17348.000000
SITDE_15,13710.0,1.346973,0.850845,1.000000,1.000000,1.00000,1.000000,5.000000
TAPE,12642.0,3.896852,6.548013,0.000000,0.000000,1.00000,5.000000,41.000000
TAPI,9031.0,16.211604,16.877891,0.000000,1.000000,10.00000,27.000000,66.000000
ZUS,13710.0,1.931218,0.253092,1.000000,2.000000,2.00000,2.000000,2.000000

## Question 3

In [16]:
from statsmodels.tools import add_constant
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression

In [17]:
df["Salaire"] = df["SALPRS_15"].apply(lambda x:  1 if x > 0 else 0)

In [18]:
df["Q1"]

0        1
1        2
2        1
3        1
4        1
        ..
13705    2
13706    2
13707    1
13708    1
13709    1
Name: Q1, Length: 13710, dtype: int64

In [21]:
df["Q1"] = df["Q1"] - 1

In [22]:
df["ENFANT"] = df["CA20_15"] - 1

In [24]:
X = df[["AGE10","Q1", "ENFANT" ]]
y = df["Salaire"]
XRegBis = sm.tools.add_constant(X)
Model = sm.Logit(y, XRegBis.astype(float))
res = Model.fit()
print(res.summary2())

Optimization terminated successfully.
         Current function value: 0.563074
         Iterations 6
                          Results: Logit
==================================================================
Model:              Logit            Pseudo R-squared: 0.035
Dependent Variable: Salaire          AIC:              15447.4879
Date:               2021-04-25 11:07 BIC:              15477.5914
No. Observations:   13710            Log-Likelihood:   -7719.7
Df Model:           3                LL-Null:          -8000.8
Df Residuals:       13706            LLR p-value:      1.7269e-121
Converged:          1.0000           Scale:            1.0000
No. Iterations:     6.0000
--------------------------------------------------------------------
           Coef.    Std.Err.      z       P>|z|     [0.025    0.975]
--------------------------------------------------------------------
const     -2.3195     0.1518   -15.2788   0.0000   -2.6170   -2.0220
AGE10      0.1388     0.0062    22.4470   0.0000    0.1266    0.1509
Q1         0.0341     0.0400     0.8521   0.3942   -0.0443    0.1124
ENFANT     0.3285     0.0508     6.4673   0.0000    0.2289    0.4280
==================================================================

## Question 5

In [32]:
df[df.CA0AREGIONF_15 == "ALSACE"]
df[df.CA0AREGIONF_15 == "**"]

,IDENT,AGE10,CA0ACATAEU_15,CA0AREGIONF_15,CA0AREG_15,CA1,CA11,CA12,CA20_15,CA23A,...,PONDEF,POSPRO_15,REGETAB,SALPRS_15,SITDE_15,TAPE,TAPI,ZUS,Salaire,ENFANT
144,A0045946,23,**,**,**,NaN,1.0,1.0,2,1,...,46.078665,71.0,82.0,1876.0,1,3.0,3.0,2,1,1
159,A0047220,26,**,**,**,NaN,5.0,5.0,2,2,...,86.709867,71.0,11.0,2756.0,1,1.0,50.0,2,1,1
485,B0068297,24,**,**,**,NaN,6.0,6.0,2,2,...,22.369783,72.0,82.0,2393.0,1,NaN,40.0,2,1,1
551,B0072469,27,**,**,**,NaN,7.0,7.0,2,2,...,15.554600,73.0,73.0,2348.0,1,0.0,0.0,2,1,1
684,B0079353,25,**,**,**,NaN,2.0,3.0,2,2,...,42.663460,71.0,11.0,2259.0,1,2.0,10.0,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12605,P0330410,26,**,**,**,NaN,4.0,3.0,2,2,...,49.688954,71.0,11.0,3458.0,1,6.0,6.0,2,1,1
12691,P0336493,24,**,**,**,NaN,3.0,1.0,2,2,...,29.939458,71.0,25.0,4550.0,1,0.0,0.0,2,1,1
13284,Q0152749,19,**,**,**,NaN,1.0,2.0,1,1,...,38.205827,2.0,31.0,1575.0,1,2.0,29.0,2,1,0
13373,V0165794,23,**,**,**,NaN,6.0,6.0,2,2,...,29.849838,8.0,31.0,2216.0,1,0.0,51.0,2,1,1
13421,W0168941,23,**,**,**,NaN,2.0,2.0,2,2,...,64.113908,71.0,11.0,2708.0,1,0.0,13.0,2,1,1

In [33]:
region_groupe = pd.get_dummies(df['CA0AREGIONF_15']).drop(['**', 'ALSACE'], axis=1)
contrat_groupe = pd.get_dummies(df['CONTRAT_15']).drop('05 Intérim', axis=1)

In [35]:
region_groupe

,00,AQUITAINE,AUVERGNE,BASSE-NORMANDIE,BOURGOGNE,BRETAGNE,CENTRE,CHAMPAGNE-ARDENNE,CORSE,FRANCHE-COMTÉ,...,MARTINIQUE,MAYOTTE,MIDI-PYRÉNÉES,NORD-PAS-DE-CALAIS,PAYS DE LA LOIRE,PICARDIE,POITOU-CHARENTES,PROVENCE-ALPES-CÔTE D'AZUR,RHÔNE-ALPES,ÎLE-DE-FRANCE
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13705,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13706,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13707,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13708,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13709,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [36]:
region_groupe['outre mer'] = region_groupe.apply(lambda z: z['MAYOTTE']+z['LA RÉUNION']+z['GUYANE']+z['MARTINIQUE']+z['GUADELOUPE'], axis=1)
region_groupe = region_groupe.drop(['MAYOTTE', 'LA RÉUNION', 'GUYANE', 'MARTINIQUE', 'GUADELOUPE'], axis=1)

In [39]:
df.isnull().sum()

IDENT                 0
AGE10                 0
CA0ACATAEU_15         1
CA0AREGIONF_15        1
CA0AREG_15            1
CA1                9817
CA11               1556
CA12                460
CA20_15               0
CA23A                 0
CA7               11147
CA8               11352
CA8B3             11966
HABDE_15              0
OS1                   0
PER1                  0
Q1                    0
Q31                   0
STRADEF              12
CONTRAT_15         2775
DEST                  1
LIEUNAIS             14
PCS_15             2813
PHD                   0
PONDEF                0
POSPRO_15          3564
REGETAB              21
SALPRS_15          3706
SITDE_15              0
TAPE               1068
TAPI               4679
ZUS                   0
Salaire               0
ENFANT                0
dtype: int64

In [40]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
df[['AGE10']] = sc.fit_transform(df[['AGE10']])

In [197]:
x_var = pd.concat([df.AGE10, df.Q1, region_groupe, contrat_groupe], axis=1)
x_var.head()

,AGE10,Q1,00,AQUITAINE,AUVERGNE,BASSE-NORMANDIE,BOURGOGNE,BRETAGNE,CENTRE,CHAMPAGNE-ARDENNE,...,PICARDIE,POITOU-CHARENTES,PROVENCE-ALPES-CÔTE D'AZUR,RHÔNE-ALPES,ÎLE-DE-FRANCE,outre mer,01 Non salarié,"02 CDI, Fonctionnaire",03 Contrat aidé,04 Emploi à durée déterminée
0,0.460047,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,0.190622,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0.460047,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0.460047,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,0.190622,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [198]:
salaire_mensuel = df['SALPRS_15']
mask = ~salaire_mensuel.isnull()

In [199]:
salaire_mensuel

0        5200.000000
1                NaN
2        1800.000000
3        2250.328125
4        2380.000000
            ...
13705            NaN
13706    1324.000000
13707    2000.000000
13708    2350.000000
13709    1565.000000
Name: SALPRS_15, Length: 13710, dtype: float64

In [203]:
mask

0         True
1        False
2         True
3         True
4         True
         ...
13705    False
13706     True
13707     True
13708     True
13709     True
Name: SALPRS_15, Length: 13710, dtype: bool

In [200]:
from sklearn import linear_model

reg = linear_model.LinearRegression()
reg.fit(x_var[mask], salaire_mensuel[mask])

salaires_estimés = reg.predict(x_var[~mask])

In [244]:
salaires_estimés

array([1615.32217768, 1071.74785468, 2103.09509354, ..., 1342.97816082,
       1929.26475206, 1133.22565887])

In [201]:
x_var

,AGE10,Q1,00,AQUITAINE,AUVERGNE,BASSE-NORMANDIE,BOURGOGNE,BRETAGNE,CENTRE,CHAMPAGNE-ARDENNE,...,PICARDIE,POITOU-CHARENTES,PROVENCE-ALPES-CÔTE D'AZUR,RHÔNE-ALPES,ÎLE-DE-FRANCE,outre mer,01 Non salarié,"02 CDI, Fonctionnaire",03 Contrat aidé,04 Emploi à durée déterminée
0,0.460047,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,0.190622,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0.460047,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0.460047,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,0.190622,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13705,0.190622,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
13706,-0.617654,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13707,0.190622,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
13708,0.729472,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
13709,-0.617654,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [204]:
(salaire_mensuel.sum() + salaires_estimés.sum())/len(df)

1681.4501318809419

In [41]:
variable = "il fait beau aujourd'hui"

In [46]:
str.split(variable)

['il', 'fait', 'beau', "aujourd'hui"]

In [50]:
str.split(variable, "a")

['il f', 'it be', 'u ', "ujourd'hui"]